---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos | Christelle Hidoine" description="A propos de Christelle Hidoine">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline="Merci de votre intérêt. Continuez plus bas pour en apprendre davantage sur moi et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/carte.png"
					alt="Christelle avec son chien sur fond de ciel bleu, stickers yoga, globe terrestre, patte de chien et feuille d'arbre"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						Polyvalente et ambitieuse, j'ai acquis des compétences relationnelles et organisationnelles à travers mes diverses expériences professionnelles en France et à l'étranger.
					</p>
					<p>
						Dorénavant, je suis Développeur Web.
					</p>
					<p>
						Cette vocation est venue pendant mes voyages à travers lesquels j'ai pu observer la pénurie de sites internet de qualité et mon envie irrépressible d'y remédier.
					</p>
					<p>
						Je saurai mettre en œuvre toutes mes compétences ainsi que ma capacité d'adaptation, ma curiosité et motivation au service d'une entreprise innovante et soucieuse de son impact environnemental.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<span>
						<p class="content-title">Formation DWWM PHP</p>
					</span>
					<em>(Développeur Web et Web Mobile)</em>
					<p>Ecole O'Clock Téléprésentiel (2023)</p>
				</div>
				<div class="content">
					<span>
						<p class="content-title">DAEFLE</p>
					</span>
					<em>Diplôme d'aptitude à l'enseignement du français langue étrangère</em>
					<p>CNED (2016-2017)</p>
				</div>
				<div class="content">
					<span>
						<p class="content-title">BTS Action Commerciale</p>
					</span>
					<em>Management Commercial Opérationnel (MCO)</em>
					<p>La Plaine de Neauphle - Trappes, 78 (2001-2003)</p>
				</div>
				<div class="content">
					<span>
						<p class="content-title">BAC Sciences et Technologies Tertiaires</p>
					</span>
					<p>Lycée Jean Vilar - Plaisir, 78 (2001)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<span class="content-title">Développement d'applications web basées sur une architecture MVC en responsive design</span>
					<ul>
						<li>Apprentissage, manipulation et mise en pratique des langages de programmation : HTLM, CSS, PHP, SQL, JAVASCRIPT</li>
						<li>Découverte et utilisation des Framework Backend associés à ces langages : Symfony, Laravel
						et des Framework Frontend : BootStrap.</li>
						<li>Utilisation et création d'une API REST, concept d'asynchronicité et utilisation de l'ORM Eloquent avec Laravel, et l'ORM Doctrine avec Symfony.</li>
						<li>Utilisation d'un CMS et création d'un thème avec WordPress</li>
						<li>Création, utilisation et gestion de bases de données avec MySQL, MariaDB, et modélisation conceptuelle de données avec Mocodo.</li>
						<li>Application des recommandations de sécurisation d'un site web (connaissance des attaques possibles : DDOS, CSRF, XSS... et méthodes pour les contrer)</li>
						<li>Installation d'un serveur local et déploiement d'un site internet</li>
						<li>Utilisation au quotidien de Linux, Git, GitHub</li>
						<li>Compréhension et mise en pratique du SEO</li>
						<li>Gestion de projet avec la méthode SCRUM Agile</li>
					</ul>	
				</div>
				<div class="content">
					<span class="content-title">Administration des ventes</span>
					<em>Domaine Automotive et Industrie</em>
					<p>Suivi de livraison, facturation, traitement des réclamations
						Développement et promotion du site marchand</p>
				</div>
				<div class="content">
					<span class="content-title">Enseignement</span>
					<em>Domaine Linguistique</em>
					<p>Définition des objectifs pédagogiques, préparation des cours, suivi de progression</p>
				</div>
				<div class="content">
					<span class="content-title">Logistique</span>
					<em>Domaine Transport</em>
					<p>Gestion des prestataires, réunion qualité, contrôle des OPEX</p>
				</div>
				<div class="content">
					<span class="content-title">Management</span>
					<em>Domaine Construction et Bâtiment</em>
					<p>Création des process, développement des collaborateurs, gestion des planning</p>
				</div>
				<div class="content">
					<span class="content-title">Relation clients</span>
					<em>Domaine Construction et Bâtiment</em>
					<p>Télévente, conseils, gestion d'un portefeuille clients, fidélisation</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}
	.content-title {
		font-weight: 800;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
